{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}


{% block main %}

<div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="glass-panel left">
                    <div class="panel-glass-reflexion"></div>
                    <div class="panel-glass-content">
                        <h2>Who we are&nbsp; </h2>
                        <p>We are a Christian blogging platform which focusses on revealing Jesus fulfilled in the Law, the Psalms, the Prophets, and the whole of Scripture. We believe that salvation is found in Christ alone (Solus Christus). Basically, we are Christocentric theologians who seek to reveal Jesus through blogging.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="glass-panel left">
                    <div class="panel-glass-reflexion"></div>
                    <div class="panel-glass-content">
                        <h2>What we do&nbsp; </h2>
                        <p>We regularly create and share articles which are teachings about our Lord Jesus Christ, and we seek to reach those in and out of the Body of Christ with the message of our Lord Jesus Christ, through social media. We also seek to create an online community of those who seek to see Jesus revealed in the Scriptures.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="glass-panel left">
                    <div class="panel-glass-reflexion"></div>
                    <div class="panel-glass-content">
                        <h2>Where we are&nbsp; </h2>
                        <p>At the moment we are currently located in West Africa. And we are specifically found in Cameroon. However, our physical location is not the extent of our reach. For thanks to social media and cyberspace, we intend to make our impact as global as possible. Thanks to the internet, our range of impact is global. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="glass-panel left">
                    <div class="panel-glass-reflexion"></div>
                    <div class="panel-glass-content">
                        <h2>Why we do what we do&nbsp; </h2>
                        <p>We do what we do because we must testify of our Lord Jesus Christ, and we must avail ourselves of every opportunity to make our Lord Jesus Christ known. For all the nations of the earth must hear of Him before He returns. And we strongly believe the Church must return to focussing on Jesus. Come Lord Jesus ! </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="jumbotron" style="text-align: center; padding-bottom: 30px; background-color: white;">
            <h1>Our Key Verse:</h1>
            <p style="color: black; font-weight: 100"><br />For in Christ lives all the fullness of God in a human body. <br />Colossians 2:9 AMP<br /></p>
            <p><a class="btn btn-primary text-left" role="button" href="bible.com">Check the Scriptures</a></p>
        </div>
    </div>
    
{% endblock %}
